<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312956126458-sun1ojlgscelpe9lt0q8if5h9rhc8ung.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312956126458-sun1ojlgscelpe9lt0q8if5h9rhc8ung</string>
	<key>API_KEY</key>
	<string>AIzaSyCHsSTv1vAiN_bks1ynLAIGNiVR-FBZiIo</string>
	<key>GCM_SENDER_ID</key>
	<string>312956126458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f23c1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f23c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312956126458:ios:017c3ff9c9057657f97543</string>
</dict>
</plist>